header {
  display: flex;
  justify-content: space-between;
  margin-inline: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

#italy-flag{
  width: 156px;
  height: 40px;
  background: linear-gradient(
    to right,
    green 0%,
    green 33.33%,
    white 33.33%,
    white 66.66%,
    red 66.66%,
    red 100%
  );
  z-index: 10;
  margin-inline: auto;
}

.header-button {
  font-family: "Afacad", sans-serif;
  font-weight: 600;
  color: white;
  font-size: 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header-button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;      /* bottom of the button text */
  width: 0;
  top: 36px;
  border-radius: 1px;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  width: 40px;
}

.header-button:hover::before {
  width: 100%;
}

.left-header {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 45px;
}

.right-header {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 45px;
}

.lv-flag {
  margin-top:auto;
  margin-bottom:auto;
  cursor: pointer;
}

.logo{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.logo > img {
  margin-top: 5px;
}
